.App {
  max-width: 1200px;
  min-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 194px 1fr;
  grid-template-rows: 60px 1fr;

  grid-template-areas: 
  "header header"
  "cp main";
}

.hide {
  display: none;
}

div.red {
  background-color: #A33050;
}

div.green {
  background-color: #45A230;
}

div.blue {
  background-color: rgb(110, 65, 216);
}

.notificationMSG {
  font-size: 3rem;
  margin: 3rem auto;
}